/**
 * @Description: source css by TheBoldMan.
 * @Version: v.05
 * @Last update: 15/04/2019
 * @Author: tronghuy2208@gmail.com
 */
/*#region #rate*/
// Rating Form
.rating-form {
    @include flex($type: "container", $active: true, $get: "basic");
    @include flex-option($type: justify-content, $value: center);
    margin-bottom: 1.5rem;
    label {
        font-size: 1.4rem;
        width: 100%;
        text-align: center;
        margin-bottom:0rem;
    }
}
.rating-stars {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    font-size: 3rem;
    a {
        color: #333;
        text-indent: -9999px;
        letter-spacing: 1px;
        width: 35px;
        height:30px;
        &:last-child {
            width:33px;
        }
    }
    a:before {
        content: '';
        position: absolute;
        left: 0;
        height:30px;
        line-height: 1;
        font-family: 'ecs';
        text-indent: 0;
        overflow: hidden;
        white-space: nowrap;
        letter-spacing: .2em;
    }
    a.active:before,
    a:hover:before {
        content: "\e986\e986\e986\e986\e986";
        color: #f7b928;
    }
    .star-1 {
        z-index: 10;
    }
    .star-2 {
        z-index: 9;
    }
    .star-3 {
        z-index: 8;
    }
    .star-4 {
        z-index: 7;
    }
    .star-5 {
        z-index: 6;
    }
    .star-1:before {
        width: 20%;
    }
    .star-2:before {
        width: 40%;
    }
    .star-3:before {
        width: 60%;
    }
    .star-4:before {
        width: 80%;
    }
    .star-5:before {
        content: "\e986\e986\e986\e986\e986";
    }
}
.comment-form {
    @include border-radius($val: .5rem);
    @include border();
    padding: 10px;

    .error-lst {
        width: 100%;
        display: none;
    }

    textarea {
        min-height: 100px;
        resize: none;
        border-top-right-radius: .5rem;
        border-top-left-radius: .5rem;
    }

    .btn-primary {
        min-height: 4.7rem;
        padding: 0.85rem 2rem;
        line-height: 1.5;
        font-size: 1.4rem;
    }

    .list-image {
        width: 100%;

        .img-item {
            @include center-img($hover: false, $type: "scale");
            width: calc((100% - 50px) / 6);
            margin-right: 10px;
            margin-top: 10px;
            height: 100px;

            .img-cmt-js {
                position: absolute;
                width: 25px;
                height: 25px;
                border-radius: 100%;
                text-align: center;
                background-color: #212121;
                color: #fff;
                top: 5px;
                right: 5px;
                z-index: 1;

                i {
                    font-size: 10px;
                    line-height: 25px;
                }

                &:hover {
                    background-color: #F02849;
                }
            }

            &:nth-child(5n) {
                margin-right: 0;
            }
        }

        img {
            @include border();
        }
    }

    .input-wrapper {
        @include flex($type: "container", $active: true, $get: "basic");

        > * {
            width: calc((100% - 16px) / 2);
            margin-right: 15px;
            -webkit-box-flex: 1;
            -webkit-flex: auto;
            -moz-box-flex: 1;
            -ms-flex: auto;
            flex: auto;
            border-width: 1px;
            margin-top: 1rem;

            &:nth-child(2n) {
                margin-right: 0;
            }

            &:nth-child(1),
            &:nth-child(2) {
                margin-top: 0;
            }
        }
    }

    .btn-upfile {
        @include border();
        border-top: none;
        position: relative;
        background-color: #e9e9e9;
        padding: 6px 12px;
        border-bottom-right-radius: .5rem;
        border-bottom-left-radius: .5rem;
        color: #1877F2;

        input {
            position: absolute;
            top: 0;
            left: 0;
            opacity: 0;
            height: 100%;
            min-height: auto;
            cursor: pointer;
        }
    }
}
.comment {
    .img-list {
        .review-image {
            @include center-img($hover: false, $type: "scale");
            width: calc((100% - 70px) / 8);
            margin-right: 10px;
            margin-top: 10px;
            height:100px;
            &:nth-child(8n) {
                margin-right: 0;
            }
        }
    }
    
    .item--comment__header {
        @include flex($type:"center");
        @include flex-option($type: justify-content, $value:flex-start);
        width: 100%;
    }
    .avatar {
        width: 25px;
        height: 25px;
        background: #E4E6E8;
        margin-right: 5px;
        text-align: center;
        color: #65676B;
        text-transform: uppercase;
        line-height: 25px;
        font-weight: $font-weight-semibold;
        text-shadow: 1px 1px 0 rgba(255,255,255,.2);
    }

    .label {
        @include transform($args:translateY(-3px));
        @include border-radius($val: 2px);
        background-color: $primary-color;
        line-height: inherit;
        color: #fff;
        padding: 1px 5px;
        margin-left: 5px;
        font-size: 11px;
        font-weight: $font-weight-light;
        display: inline-block;
    }

    .comment-action {
        margin-top: 5px;
        width: 100%;
        > * {
            position: relative;
            display: inline-block;
            margin-right: 10px;
            padding-right: 10px;

            &:after {
                content: "";
                top: 50%;
                -ms-transform: translateY(-50%);
                -webkit-transform: translateY(-50%);
                transform: translateY(-50%);
                right: -4.5px;
                position: absolute;
                width: 5px;
                height: 5px;
                border-radius: 100%;
                background-color: #999999;
            }

            &:last-child {
                margin-right: 0;
                padding-right: 0;

                &:after {
                    display: none;
                }
            }
        }
    }

    .date {
        color: #999999;
    }

    a {
        color: #1877F2;
    }

    .rating-form {
        display: none;
    }

    .item--comment__child {
        @include border($color:#dfdfdf);
        position: relative;
        margin-top: 15px;
        padding: 15px;
        background: #f8f8f8;

        .comment {
            @include border($position: "top"); 
            margin-top: 10px;
            padding-top: 10px;

            &:first-child {
                border-top: none;
                padding-top: 0;
                margin-top: 0;
            }
        }

        &:before, &:after {
            top: -20px;
            left: 18px;
            border: solid transparent;
            content: " ";
            height: 0;
            width: 0;
            position: absolute;
            pointer-events: none;
        }

        &:before {
            border-color: rgba(238,238,238,0);
            border-bottom-color: #f8f8f8;
            border-width: 11px;
            margin-left: -11px;
            z-index: 1;
        }

        &:after {
            border-color: rgba(255,255,255,0);
            border-bottom-color: #dfdfdf;
            border-width: 10px;
            margin-left: -10px;
        }
    }
    

    .star {
        margin-right: 5px;
        display: inline-block;
        .ratings-container {
            margin-bottom: 0;
        }
        .ratings-full {
            cursor:default;
            margin-right: 0;
        }
    }
}
.col-loadmore > .comment {
    @include border($position: "top", $size:1px, $style: solid, $color: $border-color);
    padding:3rem 0;
    &:first-child {
        border-top: none;
    }
    &:last-child {
        padding-bottom: 0;
    }
}
.reply-wrap {
    margin-top: 15px;
    margin-left: 15px;
    display: none;

    > * {
        margin-bottom: 20px;

        &:last-child {
            margin-bottom: 0;
        }
    }

    .comment {
        @include border($position: "left", $size:4px,$color:#e9e9e9);
        padding-left: 10px;
    }
}
#addratingform {
    display: none;
    border: none;
}
#rate {
    .rates-header-border {
        .comment-form {
            padding:0;
        }
    }
    .ratings::before {
        color: #f7b928;
    }
    .rate-mark {
        font-size: 6rem;
        margin-right: 1.8rem;
        color: $dark-color;
    }
    .avg-rating-container {
        .ratings-container {
            font-size: 2rem;
        }
        p {
            color: #aaa;
            font-size: 1.2rem;
        }
    }

    .ratings-list {
        @include border($position: "left");
        @include border($position: "right");
        font-size: 11px;
        .ratings-container {
            font-size: 11px;
        }
        padding: 0 20px;
        margin: 0 20px;
        > * {
            margin-bottom: 1px;
            &:last-child {
                margin-bottom:0;
            }
        }

        .line {
            @include border-radius($val: 99em);
            width: 150px;
            height: 6px;
            background-color: rgb(245, 245, 250);
            margin-left: 15px;
            margin-right: 15px;
            position: relative;

            .line-bg {
                @include border-radius($val: 99em);
                background-color: rgb(128, 128, 137);
                height: 5px;
                max-width: 100%;
                position: absolute;
                top: 0;
                left: 0;
            }
        }

        .text {
            color: #1877F2;
            width: 50px;
        }
    }
}
/*#endregion*/

/*#region #comment*/
#comment {
    .comment-form {
        .btn-container {
            @include border($position: 'top');
            width: 100%;
            padding: 15px 0 0 0;

            .btn-upfile {
                padding: 0 10px 0 0;
                border-radius: 0;
                border: none;
                background-color: transparent;
                @include border($position: "right");
                margin-right: 10px;
            }
        }
    }
}
/*#endregion*/

/*#region Mobile responsive section styles*/

@include mq("md") {
    .rates-header-border {
        padding:2rem;
    }
}
@include mq("1024px", "max") {
    /*#region #sad*/
    .comment {
        .img-list {
            .review-image {
                height:70px;
            }
        }
    }
    #rate {
        .rates-header-border {
            > .flex-center{
                -webkit-flex-wrap: wrap;
                -ms-flex-wrap: wrap;
                    flex-wrap: wrap;
                .btn {
                    margin-top: 20px;
                }
            }
        }
        .ratings-list {
            padding-right: 0;
            margin-right: 0;
            padding-left: 50px;
            margin-left: 50px;
            border-right: none;
        }

        .btn-container {
            text-align: center;
            margin-top: 20px;
            width: 100%;
        }
    }
    /*#endregion*/
}

@include mq("768px", "max") {
    /*#region #sad*/
    .col-loadmore>.comment {
        padding: 2rem 0;
    }
    #rate {
        .ratings-list {
            padding-left: 20px;
            margin-left: 20px;
            .line {
                width: 180px;
            }
        }
    }
    /*#endregion*/
}

@include mq("450px", "max") {
    /*#region #sad*/
    .reply-wrap {
        margin-left: 10px;
    }

    .comment-form {
        padding: 20px 10px;

        .input-wrapper input {
            width: 100%;
            margin-right: 0;
        }

        .list-image {
            .img-item {
                width: calc((100% - 10px) / 3);
                margin-right: 5px;
                margin-top: 5px;

                &:nth-child(5n) {
                    margin-right: 5px;
                }

                &:nth-child(3n) {
                    margin-right: 0;
                }
            }
        }

        .col-sm-6 {
            &:nth-child(2) {
                margin-top: 1rem;
            }
        }
    }

    .comment {
        .img-list {
            .review-image {
                width: calc((100% - 30px) / 4);
                height: 70px;

                &:nth-child(4n) {
                    margin-right: 0;
                }
            }
        }
    }

    .rates-header-border {
        padding: 0 10px 20px 10px;
    }

    #rate {
        
        .comment-form {
            margin-left:-10px;
        }
        .ratings-list {
            padding-left: 0;
            margin-left: 0;
            border: none;

            .line {
                width: 120px;
            }

            .text {
                width: auto;
            }
        }
    }
    /*#endregion*/
}
/*#endregion*/
