/*-------------------------------------------
    Products
        - Default
        - Simple
        - Slide Up
        - Image Gap
        - Widget
        - List
--------------------------------------------*/

// Variables
@include set-default( 
    ( 
        product: 
        ( 
            media:(),
            details:(),
            lg:(),
            md:(),
            sm:(),
            xs:(),
        ) 
    ) 
);

// Default
.product {
    &-media {}
    &-details {}
    &-label {
        &-group {}
        &.label-discount {}
    }
    &-action {
        a {}
        &-vertical {}
    }
    &-variations {}
    &-cat {}
    &-title {}
    &-price {
        .new-price {}
        .old-price {}
        .label-discount {}
    }
    &-quantity {}
}
// List
.product-list {
    .product {}
}
// Widget
.product-widget {
    .product {}
}

.product.img-fixed-height {}

/*#region Mobile responsive section styles*/
@include mq(xl, 'max') {}
@include mq(lg, 'max') {}
@include mq(md, 'max') {}
/*#endregion*/