/* -------------------------------------------
    Mini Popup
---------------------------------------------- */


@include set-default(
    (
        miniPopup: (
            area: (
                left: 30px,
                bottom: 30px,
                z-index: 3000,
            )
        )
    )
);

.minipopup-area {
    position: fixed;
    @include print_css( miniPopup, area );
    .success {
        .minipopup-body {
            i {
                color: #2980b9;
            }
        }
    }
}
.minipopup {
    &-box {
        @include shadow($val: 0 10px 30px rgba(0,0,0,0.1));
        @include transform($args: translateY(-100%));
        @include animation($customize: true) {
            -ms-transition: opacity .3s, left .3s ease-out, transform .3s;
            -webkit-transition: opacity .3s, left .3s ease-out, transform .3s;
            -moz-transition: opacity .3s, left .3s ease-out, transform .3s;
            -o-transition: opacity .3s, left .3s ease-out, transform .3s;
            transition: opacity .3s, left .3s ease-out, transform .3s;
        }
        position: absolute;
        left: -8rem;
        width: 300px;
        padding: 2rem;
        background-color: $white-color;
        opacity: 0;
        z-index: 3000;
    
        &.show {
            opacity: 1;
            left: 0;
        }
    
        &.focus {
            @include transform($args: scale(.98) translateY(-100%));
        }
    }
    &-center {
        @include transform($args: none);
        position: fixed;
        width: 100vw;
        height: 100vh;
        top: 0 !important;
        left: 0 !important;
        background-color: rgba(0,0,0,.5);
        .minipopup-body {
            @include e-cen($type: "all", $option: translate(-50%, -50%));
            @include border-radius($val: .3rem);
            position: absolute;
            background-color: $white-color;
            padding: 2rem;
        }
        .minipopup-content {
            text-align: center;
            i {
                display: block;
                &::before {
                    font-size: 30px;
                }
            }
        }
        &.focus {
            @include transform($args: none);
        }
    }
    .product {
        @include flex($type: "center");
        margin-bottom: 1.5rem;
        .product-name {
            font-size: 1.4rem;
            line-height: 1.4;
            font-weight: $font-weight-semibold;
        }
    }

    .product-details {
        padding: 0 0 0 1.2rem;
    }

    p {
        margin-bottom: 0;
        font-size: 1.3rem;
        color: $body-color;
        line-height: 1.4;
        i {
            @include transform($args: translateY(2px));
            margin-right: .5rem;
            color: rgb(76, 175, 80);
            font-size: 19px;
            display: inline-block;
        }
    }

    .product-action {
        .btn {
            padding-left: 1.9em;
            padding-right: 1.9em;
        }
        .btn-view-cart {
            background-color: rgb(255, 57, 69);
            color:$white-color;
            text-transform: none;
            border:0;
            width: 100%;
            &:hover, &:focus, &:active {
                opacity: .95;
            }
        }
    }
    
}
@include mq("xs", "max") {
    .minipopup-area {
        left: 10px;
    }
}