#breadcrumb.lazyload(data-bg=dist+'/default/bg-cat.jpg')
    .container.p40.text-white
        h2.h1.breadcrumb-header.text-uppercase.font-second.text-normal=title
        .breadcrumb-body
            +breadcrumb-list(breadcrumb)