/* 1. Config */
@import '../config/variables';

/* 2. Mixins */
@import '../mixins/breakpoint';
@import '../mixins/core';
@import '../mixins/buttons';
@import '../mixins/mixins';


/*#region components,elements*/
@import '../components/sidebar';
/*#endregion*/

/*#region .item-*/
// Product
@import '../components/item-product';
/*#endregion*/

// Set variables
@include set-default( ( cart: ( _linkColor:rgb(13, 92, 182), _greyColor: rgb(120, 120, 120), _redColor: rgb(255, 66, 78), _borderColor: rgb(221, 221, 221), _greenColor: rgb(8, 145, 72), _widthItem: calc(100% - 70px - 31px), 1920: (), 1440: (), 1366: (), 1280: (), 1024: (), 768: (), 450: (), 360: (), ), ) );
/*--------------------------------------------
    Cart Page
----------------------------------------------*/
#nav-mobile-product {
    .btn-nav-product {
        background-color: $white-color;
        color: $primary-color;

        &.ecs-icon-home {
            font-weight: $font-weight-bold;
        }
    }

    &.fixed .btn {
        background-color: $white-color;
        color: $primary-color;
    }
}

#nav-mobile-cart {
    @include box-shadow($number: "2");
    position: fixed;
    bottom: -1px;
    width: 100%;
    z-index: 89;
    padding: 15px;

    .btn-buy-cart {
        width: 150px;
    }

    .total-item {
        width: calc(100% - 165px);
        display: block;

        > *:first-child {
            font-size: 13px;
            color: #{get(cart, _greyColor)};
        }

        i {
            display: block;
            font-size: 10px;
            color: #{get(cart, _greyColor)};
        }

        span {
            display: block;
            color: #{get(cart, _redColor)};
        }
    }
}

#paymentopt2-des {
    margin-bottom: 1.5rem;
    margin-left: 3rem;
    padding: 15px;
    display: none;

    .paymentopt2-item:not(:last-child) {
        @include border($position: "bot", $size:1px, $style: dashed, $color: #{get(cart, _borderColor)});
        padding-bottom: 1rem;
        margin-bottom: 1rem;
    }

    .item-title {
        margin-bottom: 0;
    }

    p {
        margin-bottom: 0
    }

    &.ishow {
        display: block;
    }
}

#btn-screenshots {
    border: none;
    position: absolute;
    top: 15px;
    right: 15px;
    z-index: 2;
    padding: 6px 12px;
    font-size: 12px;
    background-color: #3498db;
    color: $white-color;

    &:hover {
        opacity: .9;
    }
}

.cart-page {

    .address-label {
        @include transform($args: translateY(-2px));
        @include border-radius($val: 10px);
        background-color: $grey-background-light;
        padding: 2px 10px;
        display: inline-block;
        font-size: 10px;
        margin-right: 5px;
    }


    .section-empty {
        padding: 2rem 15px;

        img {
            width: 200px;
        }
    }

    .text-red {
        color: #{get(cart, _redColor)};
    }

    .btn-buy-cart {
        border: none;
        background-color: #{get(cart, _redColor)};

        &:hover {
            background-color: rgb(255, 15, 30)
        }
    }

    .btn-buy-confirm {
        @include border($position: "all", $size:1px, $style: solid, $color: rgb(172, 34, 39));
        padding: 4px 12px;
        width: 360px;
        height: 50px;
        line-height: 2;
        color: rgb(255, 255, 255);
        font-size: 18px;
        outline-color: rgb(204, 204, 204);
        background: -webkit-gradient(linear, left top, left bottom, from(rgb(239, 57, 89)), to(rgb(215, 32, 65)));
        background: -o-linear-gradient(rgb(239, 57, 89), rgb(215, 32, 65));
        background: linear-gradient(rgb(239, 57, 89), rgb(215, 32, 65));

        &:hover {
            opacity: .9;
        }
    }

    .sidebar-fixed .sidebar-content {
        background-color: transparent;
    }

    .breadcrumb-header {
        height: auto;
        min-height: inherit;
        padding: 0;
    }

    .widget {
        @include border-radius($val: .5rem);
        padding: 1rem 15px 2rem 15px;

        &:not(:last-child) {
            margin-bottom: 1rem;

            .widget-body {
                margin-bottom: 0;
            }
        }

        &-body {
            margin-bottom: 0;

            input.form-control {
                border-radius: .5rem;
                height: 35.59px;
                min-height: 35.59px;
                padding: .75em 2.7rem .75em 1.4rem;
                font-size: 1.2rem;
            }
        }

        &-title {
            padding: 0;
            border: none;
            margin-bottom: 1rem;

            > * {
                font-size: 13px;
                font-weight: $font-weight-normal;
            }

            a {
                color: #{get(cart, _linkColor)};
            }
        }

        &-cart-info {
            .item {
                &-title {
                    font-weight: $font-weight-semibold;

                    span:not(:last-child) {
                        &:after {
                            color: rgb(224, 224, 224);
                            content: "|";
                            font-weight: $font-weight-light;
                            margin-left: 10px;
                            margin-right: 10px;
                        }
                    }
                }

                &-address {
                    color: #{get(cart, _greyColor)};
                    font-size: 12px;
                }
            }

            textarea {
                font-size: 1.2rem;
                min-height: 100px;
                -webkit-appearance: none;
                -moz-appearance: none;
                appearance: none;
                padding: .75em 2.7rem .75em 1.4rem;
            }
        }

        &-cart-coupon {
            button, .btn {
                border: none;
                position: absolute;
                background-color: #{get(cart, _linkColor)};
                top: 15%;
                right: 7px;
                height: 70%;
                padding: 0 8px;
                font-size: 10px;
                line-height: 25px;
                font-weight: $font-weight-normal;

                &:hover {
                    opacity: .9;
                }
            }

            .coupon-success {
                max-width: 270px;

                .coupon-item {
                    position: relative;
                    z-index: 1;

                    &:not(:last-child) {
                        margin-bottom: 1rem;
                    }
                }

                .btn {
                    position: static;
                }

                &-img {
                    @include e-cen($type: "top");
                    left: 9px;
                    position: absolute;
                    width: 16%;
                }

                &-right {
                    @include e-cen($type: "top");
                    width: calc(100% - 60px);
                    padding-left: 10px;
                    padding-right: 10px;
                    position: absolute;
                    right: 0;
                }

                &-des {
                    @include overtext($row: 1, $h: auto);
                    width: 100px;
                }
            }

            .cus-info-circled {
                color: #{get(cart, _greyColor)};

                &:hover {
                    color: $primary-color;
                }
            }

            .form {
                position: relative;
            }

            input {
                padding: 6px 75px 6px 12px;
                min-height: 35px;
                color: $dark-color;
            }
        }

        &-cart-total {
            @include border($position: "all", $size:1px, $style: solid, $color: #{get(cart, _borderColor)});

            .total-item {
                @include flex($type: "container");
                @include flex-option($type: justify-content, $value: space-between);
                color: $dark-color;

                i {
                    font-size: 10px;
                    color: #{get(cart, _greyColor)};
                }

                span {
                    color: #{get(cart, _redColor)};
                }

                &:not(:last-child) {
                    margin-bottom: 1rem
                }

                > * {
                    &:first-child {
                        font-size: 13px;
                        color: #{get(cart, _greyColor)};
                    }

                    &:last-child {
                        text-align: right;
                        width: calc(100% - 80px);

                        > * {
                            display: block;
                        }
                    }
                }
            }

            .btn-default {
                height: 30px;
                padding: 0px 12px;
                line-height: 27px;
                border-width: 1px;
            }

            .widget-footer {
                width: calc(100% + 20px);
                margin-left: -10px;
                padding-left: 10px;
                padding-right: 10px;
            }
        }

        &-cart-item-header {
            @include border($position: "bot", $size:1px, $style: solid, $color: $border-color);
            padding-bottom: 1rem;
            margin-bottom: 1rem;
            font-size: 13px;

            a {
                position: relative;
                color: #{get(cart, _linkColor)};

                i {
                    @include animation($customize: true) {
                        -ms-transition: transform .3s ease;
                        -webkit-transition: transform .3s ease;
                        -moz-transition: transform .3s ease;
                        -o-transition: transform .3s ease;
                        transition: transform .3s ease;
                    }

                    ;
                    @include transform($args:translateY(-0px));
                    display: inline-block;
                    right: -10px;
                    position: absolute;
                }

                &.active {
                    i {
                        @include transform($args: rotate(180deg) translateY(1px));
                    }
                }
            }
        }

        &-cart-item-body {
            @include border($position: "bot", $size:1px, $style: solid, $color: $border-color);
            padding-bottom: 1rem;
            margin-bottom: 1rem;
            display: none;

            &.active {
                display: block;
            }
        }

        &-cart-item {
            font-size: 11px;

            a {
                color: #{get(cart, _linkColor)};
            }

            &:not(:last-child) {
                margin-bottom: 5px;
            }

            &-title {
                @include overtext($row: 3, $h: auto);
                width: 40%;
                margin-left: 5px;
            }

            &-price {
                margin-left: auto;
            }
        }

        .coupon {
            &-dropdown {
                display: inline-block;
                margin-left: .5rem;
                position: relative;
            }

            &-dropdown:not(.show):hover .coupon-des-body,
            &-des-body {
                @include shadow($val: none);
                top: 100%;
                right: -95px;
                width: 350px;
                max-width: inherit;
                padding: 5px 0 0 0;
                background-color: transparent;

                &::before {
                    display: none;
                }
            }

            &-des-header {
                @include transform($args:translateY(5px));
                position: relative;
                padding-bottom: 10px;

                &:after {
                    @include transform($args: none);
                    top: auto;
                    bottom: 0px;
                    right: -2px;
                    content: "";
                    position: absolute;
                    border: 8px solid transparent;
                    border-bottom: 8px solid $white-color;
                    cursor: pointer;
                    pointer-events: none;
                    display: none;
                }
            }

            &-des-content {
                @include border($position: "all", $size:1px, $style: solid, $color: $border-color);
                @include border-radius($val: .5rem);
                @include shadow($val: 0 4px 20px -8px rgba(0,0,0,.3));
                padding: 15px 0;
                background-color: $white-color;
                width: 100%;
                line-height: 1.4;
            }

            &-des-item {
                @include flex($type: "container");
                @include flex-option($type: justify-content, $value: space-between);
                padding: 15px;
                font-size: 12px;
                color: $dark-color;

                ul {
                    padding-left: 1.5rem;
                }

                li {
                    list-style-type: disc;

                    &:not(:last-child) {
                        margin-bottom: .5rem;
                    }
                }

                &:nth-child(2n + 1) {
                    background-color: rgb(250, 250, 250);
                }

                > * {
                    :first-child {
                        color: #{get(cart, _greyColor)};
                    }
                }

                &:last-child {
                    > * {
                        width: 100%;

                        &:not(:last-child) {
                            margin-bottom: 1rem;
                        }
                    }
                }
            }
        }

        .dropdown:not(.show):hover {
            .coupon-des-header:after {
                display: block;
            }
        }
    }

    .process {
        &-success {
            @include visible($active: false, $zindex: 1);
            color: #{get(cart, _greenColor)};
            font-size: 12px;
            white-space: nowrap;
            margin-left: 15px;

            &.active {
                @include visible($active: true, $zindex: 1);
            }
        }

        img {
            width: 100px;
            margin-left: 15px;
        }

        &.active {
            .process-success {
                @include visible($active: true, $zindex: 1);
            }
        }

        &-link {
            .process-success {
                display: none;
            }

            p:not(.process-success) {
                margin-bottom: 0;
                font-size: 12px;
                color: $dark-color;
            }

            a {
                border-color: $primary-color;
                color: $primary-color;
                font-size: 12px;
                padding: 6px 12px;
                background-color: transparent;
                border-width: 1px;

                &:hover {
                    background-color: $primary-color;
                    color: $white-color;
                }
            }
        }

        &-bar {
            @include border-radius($val: 100px);
            width: 100%;
            background-color: #ccc;
            height: 6px;
            position: relative;
            width: calc(100% - 31px - 100px - 161px);
        }

        .dot {
            position: absolute;
            font-size: 11px;

            &-curent {
                @include animation($customize: true) {
                    -ms-transition: width 1s ease;
                    -webkit-transition: width 1s ease;
                    -moz-transition: width 1s ease;
                    -o-transition: width 1s ease;
                    transition: width 1s ease;
                }

                ;
                @include e-cen($type: "top", $option: translate(-50%, -50%));
                @include border-radius($val: 100px);
                max-width: 100%;
                height: 100%;
                background: -webkit-gradient(linear, left top, right top, from(rgb(0, 173, 87)), color-stop(105.65%, rgb(119, 218, 144)));
                background: -webkit-linear-gradient(left, rgb(0, 173, 87) 0%, rgb(119, 218, 144) 105.65%);
                background: -moz-linear-gradient(left, rgb(0, 173, 87) 0%, rgb(119, 218, 144) 105.65%);
                background: -o-linear-gradient(left, rgb(0, 173, 87) 0%, rgb(119, 218, 144) 105.65%);
                background: linear-gradient(90deg, rgb(0, 173, 87) 0%, rgb(119, 218, 144) 105.65%)
            }

            &-start {
                bottom: -20px;
                left: 0;
            }

            &-end {
                right: 0;
                bottom: -20px;
            }

            &-check {
                &:before, &:after {
                    @include border($position: "all", $size:1px, $style: solid, $color: #ccc);
                    content: '';
                    position: absolute;
                    width: 15px;
                    height: 15px;
                    display: none;
                    top: -13px;
                    right: 0;
                    @include border-radius($val: 50%);
                }

                &:before {
                    background: $white-color;
                    display: block;
                }

                &:after {
                    background-image: url(/wwwroot/templates/website/images/default/check-ok.svg);
                    background-position: center center;
                    background-repeat: no-repeat;
                    background-color: rgb(214, 250, 223);
                    border: 1px solid rgb(8, 145, 72);
                    display: none;
                }
            }

            &.active {
                &:after {
                    display: block;
                }

                &:before {
                    display: none;
                }
            }
        }
    }
}

.billing-page {
    .widget-cart-total .widget-footer {
        .total-item {
            > *:first-child {
                font-weight: $font-weight-bold;
            }

            span {
                font-size: 20px;
            }
        }
    }

    .sidebar .widget-cart-total .widget-title {
        margin-bottom: 0
    }
}

.results-page {
    .btn-buy-cart {
        margin-bottom: 1.5rem;
    }


    #paymentopt2-des {
        @include border($position: "all", $size:1px, $style: solid, $color: rgb(194, 225, 255));
        padding: 1rem;
        margin: 0;
        background-color: rgb(240, 248, 255);

        .item-title {
            font-size: 12px;
            margin-bottom: 0;
        }

        .demo-icon {
            color: $primary-color;
        }

        p {
            font-size: inherit;
            list-style: 1.5;
        }
    }

    .widget {
        &-cart-total .widget-footer .total-item {
            span {
                font-size: 3rem;
                font-weight: $font-weight-semibold;
                margin-bottom: 0;
            }

            &:last-child {
                text-align: center;

                > * {
                    width: 100%;

                    &:first-child {
                        font-weight: $font-weight-bold;
                        margin-bottom: .5rem;
                    }

                    &:last-child {
                        text-align: inherit;
                    }
                }
            }
        }
    }
}

.cart {
    .section-header, .section-body {
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .section-header {
        font-size: 13px;
    }

    &-col {
        padding-left: 15px;
        padding-right: 15px;
        max-width: 100%;

        &:nth-child(1) {
            width: calc(100% - 491px);
        }

        &:nth-child(2) {
            width: 190px;
        }

        &:nth-child(3) {
            width: 130px;
        }

        &:nth-child(4) {
            width: 120px;
        }

        &:nth-child(5) {
            width: 50px;
            text-align: right;
        }
    }

    &-item {
        .btn {
            width: 25px;
            height: auto;
            padding: 0;
            border-width: 1px;
            border-color: $border-color;
            font-size: 10px;

            &-mins {
                border-right: none;
            }

            &-plus {
                border-left: none;
            }
        }

        input.form-control {
            height: 35px;
            min-height: 35px;
            padding: 6px 6px 6px 12px;
            width: calc(100% - 51px);
        }
    }

    .product {
        &-thumbnail {
            @include center-img($hover: false, $type: "scale");
            height: 70px;
            width: 70px;
        }

        &-title {
            @include overtext($row: 2, $h: auto);
            width: #{get(cart, _widthItem)};
            white-space: initial;
            min-height: inherit;
        }

        &-price {
            font-size: 1.2rem;
            line-height: normal;

            .new-price {
                font-size: inherit;

                &:not(:last-child) {
                    margin-right: .5rem;
                }

                &.price-promoprice {
                    color: initial;
                }
            }

            .old-price {
                font-size: inherit;
            }
        }

        &-subtotal {
            font-weight: $font-weight-bold;
            color: #{get(cart, _redColor)};
        }
    }
}

.billing {
    .section-content {
        padding: 2rem 15px;
    }

    .points {
        a {
            color: #{get(cart,_linkColor)}
        }

        ;

        p {
            margin-left: 3.5rem;
        }

        .custom-radio {
            .custom-control-label {
                padding-left: 3.5rem;
            }

            .custom-control-label::after {
                width: 2.5rem;
                height: 2.5rem;
            }

            .custom-control-input:checked ~ .custom-control-label::after {
                padding-left: 7px
            }
        }
    }

    .payment {
        .custom-radio:not(:last-child) {
            margin-bottom: 1.5rem;
        }
    }

    .overview {
        .col {
            margin-bottom: 2rem;
        }

        &-wrap {
            padding: 2rem 15px 0 15px;
        }

        &-item {
            @include border($position: "all", $size:1px, $style: solid, $color: $border-color);
            @include flex-option($type: justify-content, $value: flex-start);
            @include flex-option($type: align-items, $value: flex-start);
            padding: 1rem;
        }

        .product {
            &-details {
                padding-left: 1rem;
                padding-top: 0;
                width: 100%;
                color: $dark-color;
            }

            &-title {
                color: #{get(cart, _greyColor)}
            }
        }
    }
}

.results {
    .section-footer {
        position: relative;
        padding: 5rem 15px;
    }

    .cart-img {
        position: absolute;
        max-height: 100%;
        pointer-events: none;
        z-index: 1;

        &-1 {
            top: 0;
            left: -7%;
            height: 500px;
            width: auto;
        }

        &-2 {
            bottom: 30px;
            right: -5%;
            width: 200px;
        }
    }

    &-content {
        .bg-white {
            position: relative;
            z-index: 2;
        }
    }

    &-info {
        a:not(.btn) {
            color: #{get(cart, _linkColor)};
            text-decoration: underline;
            line-height: 1.5;
        }

        p {
            font-size: 12px;
        }
    }

    &-item {
        padding: 10px 12px;
        line-height: 2;
        color: $dark-color;

        p {
            line-height: inherit;
        }

        a {
            font-weight: $font-weight-normal;
            color: #{get(cart, _linkColor)}
        }

        > * {
            width: calc(100% - 101px);
            padding-left: 15px;

            &:first-child {
                width: 100px;
                padding-left: 0;
                color: #{get(cart, _greyColor)};
            }
        }

        &:not(:last-child) {
            @include border($position: "bot", $size:1px, $style: solid, $color: $border-color);
        }
    }
}

.modal-address {
    width: 1000px;
    max-width: 100%;

    .address-label {
        @include transform($args: translateY(-2px));
        @include border-radius($val: 10px);
        background-color: $grey-background-light;
        padding: 2px 10px;
        display: inline-block;
        font-size: 10px;
        margin-right: 5px;
    }

    .col {
        position: relative;
        margin-bottom: 2rem;

        .address-item {
            @include border($position: "all", $size:1px, $style: solid, $color: #{get(cart, _borderColor)});
            @include border-radius($val: .5rem);
            cursor: pointer;
            padding: 15px;
            color: $dark-color;
            min-height: 100px;

            p {
                font-size: 13px;
            }

            &.add {
                border-style: dashed;
                position: relative;
                color: $grey-color;

                &::before {
                    @include e-cen($type: "all", $option: translate(-50%, -50%));
                    position: absolute;
                    font-size: 4rem;
                }

                &:hover:before {
                    color: $primary-color;
                }
            }

            &:hover {
                border-color: $primary-color;
                border-style: dashed;
            }
        }

        input {
            position: absolute;
            opacity: 0;
            z-index: -1;

            &.isdefault ~ .address-item {
                position: relative;

                &::before {
                    position: absolute;
                    content: attr(data-text);
                    top: 5px;
                    right: 5px;
                    font-size: 10px;
                    font-weight: normal;
                    color: $primary-color;
                }
            }

            &.active ~ .address-item {
                border-color: $primary-color;
                position: relative;
                border-style: solid;
            }
        }
    }

    #add-address-form {
        display: none;

        &.ishow {
            display: block;
        }

        .form-wrap {
            width: 700px;
            max-width: 100%;
        }

        .form-group {
            > *:first-child {
                width: 150px;
                max-width: 150px;
            }

            > *:last-child {
                width: calc(100% - 150px);
            }
        }

        .custom-select-header,
        .form-control {
            @include border-radius($val: 0);
            border-color: $border-color-light;
            min-height: 35px;
        }

        textarea.form-control {
            min-height: 100px;
        }

        .btn {
            width: auto;
        }
    }
}


/*#region Mobile responsive section styles*/

@include mq(xl, 'max') {
    .cart-page .widget .coupon-des-body,
    .cart-page .widget .coupon-dropdown:not(.show):hover .coupon-des-body {
        right: auto;
        top: 50%;
    }

    .cart-page {
        .widget {
            .dropdown:not(.show):hover .coupon-des-header:after,
            .dropdown:hover .coupon-des-header:after,
            .dropdown.show .coupon-des-header:after,
            .dropdown.show:hover .coupon-des-header:after {
                display: none;
            }
        }
    }

    #dropdown-mobile-wrapper {
        padding-bottom: 0;

        .dropdown-remove {
            @include border-radius($val: 50px);
            @include order(1);
            margin: 0 auto 1rem auto;
            width: 80px;
            height: 5px;
            color: transparent;
            text-indent: -9999px;
        }

        .dropdown-box-des {
            @include border-radius($val: 0);
            @include order(2);
            width: calc(100% + 30px);
            margin-left: -15px;
            margin-right: -15px;
            padding-top: 15px;
            padding-bottom: 30px;
        }
    }
}

@include mq(lg, 'max') {
    #sidebar {
        margin-top: 4rem;
    }

    .cart-page {
        .sidebar-content {
            @include transform($args: none);
            position: static;
            width: 100%;
            padding: 0;
            opacity: 1;
            overflow: inherit;
        }
    }
}

@include mq(md, 'max') {
    body.modal-active {
        height: 100svh;
        overflow-y: hidden;
    }
    
    #chat-scroll-block {
        bottom: 15vh;
    }

    .modal.modal-address {
        @include border-radius($val: 0);
        position: relative;
        padding-left: 0;
        padding-right: 0;
        height: 100svh;
        padding-top: calc(55px + 2rem) !important;
        padding-bottom: $nav-mobile_height-ios-bottom;

        .col:last-child {
            margin-bottom: 0;
        }

        .mfp-close {
            @include transform($args: none);
            width: 100%;
            height: 55px;
            top: 0;
            left: 0;
            background-color: $primary-color;
            position: absolute;
            border: 0;
            font-size: 28px;
            &::after {
                display: none;
            }

            &::before {
                @include e-cen($type: "top", $option: translate(-50%, -50%));
                left: 20px;
                content: '\e806';
                color: $white-color;
                font-family: customize;
                font-style: normal;
                font-weight: 400;
                speak: never;
                display: inline-block;
                text-decoration: inherit;
                width: auto;
                text-align: center;
                font-variant: normal;
                text-transform: none;
                line-height: 35px;
                height: auto;
                -webkit-font-smoothing: antialiased;
                -moz-osx-font-smoothing: grayscale;
                background-color: transparent;
            }
        }

        .modal-close {
            padding: 0 15px;
            width: 100% !important;
            text-align: center;
            border: none;
            background-color: $primary-color;
            color: $white-color;
            height: 55px;
            position: relative;
            z-index: 1;
            font-size: 16px;

            i {
                @include e-cen($type: "top");
                left: 15px;
                position: absolute;
                font-size: 30px;
            }
        }

        form {
            /*#{$nav-mobile_height-ios-bottom}*/
            position: relative;
            z-index: 2;
            border-top: none !important;
            padding: 2rem 10px #{$nav-mobile_height-ios-bottom} 10px;
        }

        .modal-body {
            padding-left: 10px;
            padding-right: 10px;
            //padding-bottom: #{$nav-mobile_height-ios-bottom};
            /*max-height: calc(100% - 55px) !important;*/
            max-height: 100%;
            overflow: auto;
        }

        .modal-footer {
            height: 100%;
            overflow: hidden;
            width: 100%;
            overflow: auto;
            position: absolute;
            background-color: $white-color;
            bottom: 0;

            &.ishow {
                z-index: 1047;
            }
        }

        #add-address-form {
            .form-group-wrapper > div:not(.form-group) {
                .form-group {
                    flex-wrap: wrap;
                }
            }
            .form-group {
                &:not(:first-child) {
                    flex-wrap: wrap;
                    .form-control, .input-wrapper-inline, .custom-select {
                        margin-top: .5rem;
                    }

                    > * {
                        width: 100%;
                        max-width: 100%;
                    }
                }
            }

            .form-wrap {
                margin-bottom: 15px;
            }

            .btn {
                width: 100%;
            }
            .form-control {
                height: 45px;
            }
            .custom-select-header {
                height: 45px;
                display: flex;
                align-items: center;
                &::before {
                    top: 16px;
                }
            }
        }
    }

    .fancybox-modal-close .modal-address {
        .carousel__button {
            @include border-radius($val: 0);
            @include transform($args: none);
            width: 100%;
            height: 55px;
            top: 0;
            left: 0;
            background-color: $primary-color;

            &::before {
                @include e-cen($type: "top", $option: translate(-50%, -50%));
                position: absolute;
                font-size: 28px;
                left: 20px;
                content: '\e806';
                color: $white-color;
                font-family: customize;
                font-style: normal;
                font-weight: 400;
                speak: never;
                display: inline-block;
                text-decoration: inherit;
                width: auto;
                text-align: center;
                font-variant: normal;
                text-transform: none;
                height: auto;
                -webkit-font-smoothing: antialiased;
                -moz-osx-font-smoothing: grayscale;
                background-color: transparent;
            }
        }
    }

    .cart-page {
        .btn-buy-cart.w-100, .btn-buy-confirm {
            max-width: calc(100% - 30px);
            margin-left: 15px;
        }

        .section-empty {
            @include border-radius($val: 0 !important);
        }

        .p-0 {
            padding-left: 0;
            padding-right: 0;
        }

        .m-0 {
            margin-left: 0;
            margin-right: 0;
        }

        .widget {
            @include border-radius($val: 0);
            &-body {
                input.form-control {
                    height: 45px;
                }
                .custom-select-header {
                    height: 45px;
                    display: flex;
                    align-items: center;
                    &::before {
                        top: 16px;
                    }
                }
            }
            &-cart-coupon {
                .coupon-success {
                    max-width: 100%;

                    &-right {
                        width: 78%;
                    }

                    &-des {
                        width: 150px;
                    }
                }
            }

            &:not(:last-child) {
                @include border-radius($val: 0);
            }

            .coupon-des-body,
            .coupon-dropdown:not(.show):hover .coupon-des-body {
                display: none;
            }
        }

        .process {
            padding-left: 15px;
            padding-right: 15px;

            img {
                width: 30px;
            }

            &-bar {
                width: calc(100% - 16px - 30px);
            }

            &-success {
                display: none;
                margin-left: 0;
            }

            &.active {
                .process-link {
                    > * {
                        display: none;
                    }

                    .process-success {
                        display: block;
                    }
                }
            }

            &-link {
                .process-success {
                    @include visible($active: true, $zindex: 1);
                    display: block !important;
                }
            }
        }
    }

    .results-page {
        .btn-buy-cart {
            margin-top: 2rem;
            margin-bottom: 0;
        }

        .sticky-sidebar {
            display: -webkit-box;
            display: -webkit-flex;
            display: -moz-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -webkit-flex-direction: column;
            -moz-box-orient: vertical;
            -moz-box-direction: normal;
            -ms-flex-direction: column;
            flex-direction: column;
        }

        .btn-buy-cart {
            @include order(2)
        }

        .widget-cart-total {
            @include order(1)
        }
    }

    .cart {
        .section-body,
        .section-header {
            @include border-radius($val: 0 !important);
        }

        &-col {
            .cus-trash {
                color: #{get(cart, _linkColor)};
                font-size: 12px;

                &::before {
                    content: attr(data-text);
                    font-family: $font-family-primary;
                }
            }

            &:first-child,
            &:last-child {
                width: auto;
            }

            &:last-child {
                margin-left: auto;
            }

            &:nth-child(2) {
                margin-top: -40px;
                pointer-events: none;
                width: #{get(cart, _widthItem)};
                padding-left: 23px;
                margin-left: auto;
            }

            &:nth-child(3) {
                margin-top: -5px;
                margin-left: calc(70px + 31px + 10px);
            }
        }

        &-item {
            -webkit-flex-wrap: wrap;
            -ms-flex-wrap: wrap;
            flex-wrap: wrap;

            .cart-col {
                &:nth-child(1) {
                    -webkit-box-align: start;
                    -webkit-align-items: flex-start;
                    -moz-box-align: start;
                    -ms-flex-align: start;
                    align-items: flex-start;
                    -webkit-box-pack: start;
                    -webkit-justify-content: flex-start;
                    -moz-box-pack: start;
                    -ms-flex-pack: start;
                    justify-content: flex-start;
                    width: 100%;
                }

                &:nth-child(3) {
                    width: auto;
                }
            }

            .btn {
                width: 30px;
                font-size: 1.4rem;
            }

            input.form-control {
                height: 30px;
                min-height: 30px;
                width: 50px;
            }
        }

        .product {
            &-title {
            }

            &-price .new-price,
            &-price .new-price.price-promoprice {
                color: #{get(cart, _redColor)};
            }
        }
    }

    .billing {
        .section-content {
            @include border-radius($val: 0 !important);
        }

        .section-title {
            padding-left: 15px;
        }

        .points {
            p {
                margin-left: 0;
            }

            .custom-radio .custom-control-label {
                display: block;

                &:after {
                    @include transform($args: none);
                    top: 0;
                }
            }
        }

        .overview {
            .col {
                &:not(:last-child) {
                    margin-bottom: 1rem;
                }

                &:last-child {
                    .overview-item {
                        border: none;
                        padding: 0;
                    }
                }
            }

            &-wrap {
                @include border-radius($val: 0 !important);
            }

            &-item {
                border-top: none !important;
                border-left: none !important;
                border-right: none !important;
                padding: 0 0 1rem 0;
            }
        }
    }

    .results {
        .section-footer {
            @include border-radius($val: 0 !important);
        }

        &-item {
            display: block;

            > * {
                width: 100%;

                &:not(:first-child) {
                    padding-left: 0;
                }
            }
        }
    }
}
/*#endregion*/
