/* 1. Config */
@import '../../config/variables';

/* 2. Mixins */
@import '../../mixins/breakpoint';
@import '../../mixins/core';
@import '../../mixins/buttons';
@import '../../mixins/mixins';


/*#region components,elements*/
@import '../../components/sidebar';
/*#endregion*/

/*#region .item-*/
/*#endregion*/

// Set variables
@include set-default(
  (
    booking: (
      _linkColor:rgb(13, 92, 182),
      _greyColor: rgb(120, 120, 120),
      _redColor: rgb(255, 66, 78),
      _borderColor:  rgb(221, 221, 221),
      _greenColor: rgb(8, 145, 72),
      _widthItem: calc(100% - 70px - 31px),
      1920: (),
      1440: (),
      1366: (),
      1280: (),
      1024: (),
      768: (),
      450: (),
      360: (),
    ),
  )
);

/*--------------------------------------------
    Blank Page
----------------------------------------------*/
.booking-page {

  .section-empty {
      padding: 2rem 15px;

      img {
          width: 200px;
      }
  }

  .text-red {
      color: #{get(cart, _redColor)};
  }

  .sidebar-fixed .sidebar-content {
      background-color: transparent;
  }

  .breadcrumb-header {
      height: auto;
      min-height: inherit;
      padding: 0;
  }

  .widget {
      @include border-radius($val: .5rem);
      padding: 1rem 15px 2rem 15px;

      &:not(:last-child) {
          margin-bottom: 1rem;

          .widget-body {
              margin-bottom: 0;
          }
      }

      &-body {
          margin-bottom: 0;
      }

      &-title {
          padding: 0;
          border: none;
          margin-bottom: 1rem;

          > * {
              font-size: 13px;
              font-weight: $font-weight-normal;
          }

          a {
              color: #{get(cart, _linkColor)};
          }
      }

      &-cart-info {
          .item {
              &-title {
                  font-weight: $font-weight-semibold;

                  span:not(:last-child) {
                      &:after {
                          color: rgb(224, 224, 224);
                          content: "|";
                          font-weight: $font-weight-light;
                          margin-left: 10px;
                          margin-right: 10px;
                      }
                  }
              }

              &-address {
                  color: #{get(cart, _greyColor)};
                  font-size: 12px;
              }
          }

          textarea {
              font-size: 12px;
              min-height: 100px;
              -webkit-appearance: none;
              -moz-appearance: none;
              appearance: none;
          }
      }

      &-cart-coupon {
          button, .btn {
              border: none;
              position: absolute;
              background-color: #{get(cart, _linkColor)};
              top: 5px;
              right: 5px;
              height: 25px;
              padding: 0 8px;
              font-size: 10px;
              line-height: 25px;
              font-weight: $font-weight-normal;

              &:hover {
                  opacity: .9;
              }
          }

          .coupon-success {
              max-width: 270px;

              .coupon-item {
                  position: relative;
                  z-index: 1;

                  &:not(:last-child) {
                      margin-bottom: 1rem;
                  }
              }

              .btn {
                  position: static;
              }

              &-img {
                  @include e-cen($type: "top");
                  left: 9px;
                  position: absolute;
                  width: 16%;
              }

              &-right {
                  @include e-cen($type: "top");
                  width: calc(100% - 60px);
                  padding-left: 10px;
                  padding-right: 10px;
                  position: absolute;
                  right: 0;
              }

              &-des {
                  @include overtext($row: 1, $h: auto);
                  width: 100px;
              }
          }

          .cus-info-circled {
              color: #{get(cart, _greyColor)};

              &:hover {
                  color: $primary-color;
              }
          }

          .form {
              position: relative;
          }

          input {
              padding: 6px 75px 6px 12px;
              min-height: 35px;
              color: $dark-color;
          }
      }

      &-cart-total {
          @include border($position: "all", $size:1px, $style: solid, $color: #{get(cart, _borderColor)});

          .total-item {
              @include flex($type: "container");
              @include flex-option($type: justify-content, $value: space-between);
              color: $dark-color;

              i {
                  font-size: 10px;
                  color: #{get(cart, _greyColor)};
              }

              span {
                  color: #{get(cart, _redColor)};
              }

              &:not(:last-child) {
                  margin-bottom: 1rem
              }

              > * {
                  &:first-child {
                      font-size: 13px;
                      color: #{get(cart, _greyColor)};
                  }

                  &:last-child {
                      text-align: right;
                      width: calc(100% - 85px);

                      > * {
                          display: block;
                      }
                  }
              }
          }

          .btn-default {
              height: 30px;
              padding: 0px 12px;
              line-height: 27px;
              border-width: 1px;
          }

          .widget-footer {
              width: calc(100% + 30px);
              margin-left: -15px;
              padding-left: 15px;
              padding-right: 15px;
          }
      }

      &-cart-item-header {
          @include border($position: "bot", $size:1px, $style: solid, $color: $border-color);
          padding-bottom: 1rem;
          margin-bottom: 1rem;
          font-size: 13px;

          a {
              position: relative;
              color: #{get(cart, _linkColor)};

              i {
                  @include animation($customize: true) {
                      -ms-transition: transform .3s ease;
                      -webkit-transition: transform .3s ease;
                      -moz-transition: transform .3s ease;
                      -o-transition: transform .3s ease;
                      transition: transform .3s ease;
                  }

                  ;
                  @include transform($args:translateY(-0px));
                  display: inline-block;
                  right: -10px;
                  position: absolute;
              }

              &.active {
                  i {
                      @include transform($args: rotate(180deg) translateY(1px));
                  }
              }
          }
      }

      &-cart-item-body {
          @include border($position: "bot", $size:1px, $style: solid, $color: $border-color);
          padding-bottom: 1rem;
          margin-bottom: 1rem;
          display: none;

          &.active {
              display: block;
          }
      }

      &-cart-item {
          font-size: 11px;

          a {
              color: #{get(cart, _linkColor)};
          }

          &:not(:last-child) {
              margin-bottom: 5px;
          }

          &-title {
              @include overtext($row: 3, $h: auto);
              width: 40%;
              margin-left: 5px;
          }

          &-price {
              margin-left: auto;
          }
      }

      .coupon {
          &-dropdown {
              display: inline-block;
              margin-left: .5rem;
              position: relative;
          }

          &-dropdown:not(.show):hover .coupon-des-body,
          &-des-body {
              @include shadow($val: none);
              top: 100%;
              right: -95px;
              width: 350px;
              max-width: inherit;
              padding: 5px 0 0 0;
              background-color: transparent;

              &::before {
                  display: none;
              }
          }

          &-des-header {
              @include transform($args:translateY(5px));
              position: relative;
              padding-bottom: 10px;

              &:after {
                  @include transform($args: none);
                  top: auto;
                  bottom: 0px;
                  right: -2px;
                  content: "";
                  position: absolute;
                  border: 8px solid transparent;
                  border-bottom: 8px solid $white-color;
                  cursor: pointer;
                  pointer-events: none;
                  display: none;
              }
          }

          &-des-content {
              @include border($position: "all", $size:1px, $style: solid, $color: $border-color);
              @include border-radius($val: .5rem);
              @include shadow($val: 0 4px 20px -8px rgba(0,0,0,.3));
              padding: 15px 0;
              background-color: $white-color;
              width: 100%;
              line-height: 1.4;
          }

          &-des-item {
              @include flex($type: "container");
              @include flex-option($type: justify-content, $value: space-between);
              padding: 15px;
              font-size: 12px;
              color: $dark-color;

              ul,ol {
                  padding-left: 1.5rem;
              }

              li {
                  list-style-type: disc;

                  &:not(:last-child) {
                      margin-bottom: .5rem;
                  }
              }

              &:nth-child(2n + 1) {
                  background-color: rgb(250, 250, 250);
              }

              > * {
                  :first-child {
                      color: #{get(cart, _greyColor)};
                  }
              }

              &:last-child {
                  > * {
                      width: 100%;

                      &:not(:last-child) {
                          margin-bottom: 1rem;
                      }
                  }
              }
          }
      }

      .dropdown:not(.show):hover {
          .coupon-des-header:after {
              display: block;
          }
      }
  }
}
.booking {
  .section-header {
    background-color:$white-color;
    .item {
      width: calc(100% / 3);
      padding:12px 15px;
      cursor: pointer;
      &:not(:last-child) {
        @include border($position: "right", $size:1px, $style: solid, $color: $border-color);
      }
      &-icon {
        @include transform($args: translateY(-3px));
        font-size: 2rem;
        margin-right: 1rem;
      }
      b {
        font-size: 1.2rem;
        line-height: 1;
        font-weight: $font-weight-semibold;
      }
    }
  }
}
/*#region Mobile responsive section styles*/
  @include mq("1920px") {}
  @include mq("1440px", "max") {}
  @include mq("1366px", "max") {}
  @include mq("1280px", "max") {}
  @include mq("1024px", "max") {}
  @include mq("768px", "max") {}
  @include mq("450px", "max") {}
  @include mq("360px", "max") {}
  @include mq(xl, 'max') {}
  @include mq(lg, 'max') {}
  @include mq(md, 'max') {}
/*#endregion*/

/*#region Style fix all browser*/
  /*#region Firefox*/
    @-moz-document url-prefix() {}
  /*#endregion*/

  /*#region Internet Explorer 10, 11*/
    @include only-for-ie(){}
    // @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {}
  /*#endregion*/

  /*#region Edge*/
    @include only-for-edge(){}
    // @-moz-document url-prefix() {}
  /*#endregion*/

  /*#region Safari*/
    @include only-for-retina($pixel-ratio : 1.5){}
    // @media not all and (min-resolution:.001dpcm) {
    //     @supports (-webkit-appearance:none) {
    //         @media screen and (max-width: 450px) {
    //         }
    //     }
    // }
  /*#endregion*/
/*#endregion*/