/* 1. Config */
@import '../../config/variables';

/* 2. Mixins */
@import '../../mixins/breakpoint';
@import '../../mixins/core';
@import '../../mixins/buttons';
@import '../../mixins/mixins';


/*#region components,elements*/
/*#endregion*/

/*#region .item-*/
/*#endregion*/

// Set variables
@include set-default(
  (
    error: (
      _linkColor:rgb(37,99,235),
      _redColor: rgb(239,68,68),
      _yellowColor:  #fdba13,
      1920: (),
      1440: (),
      1366: (),
      1280: (),
      1024: (),
      768: (),
      450: (),
      360: (),
    ),
  )
);

/*--------------------------------------------
    Error Page
----------------------------------------------*/
.error {
    padding: 20vh 0;
    background-position: bottom center;
    background-repeat: repeat-x;
    p {
        margin-bottom: 0rem;
        a {
            color: #{get(error, _linkColor)};
            &:hover {
                text-decoration: underline;
            }
        }
    }
    .section-title {
        color: #{get(error, _redColor)};
        font-weight: $font-weight-bold;
        margin-bottom: 0;
        margin-right: 3rem;
        font-size: 15rem;
        letter-spacing: -10px;
        line-height: .8;
    }
    .title {
        color: #{get(error, _yellowColor)};
        margin-bottom: 1rem;
        font-weight: $font-weight-semibold;
    }
    form {
        position: relative;
        button {
            @include border-radius($val: 0 .5rem .5rem 0);
            position: absolute;
            top: 0;
            right: 0;
            height: 100%;
            font-size: 16px;
            padding: 0;
            width: 60px;
        }
    }
}
/*#region Mobile responsive section styles*/
    @include mq("768px", "max") {
        .error {
            padding: 10vh 0;
            .section-title {
                font-size: 10rem;
                letter-spacing: -5px;
            }
        }
    }
    @include mq("450px", "max") {
        .error {
            .section-title {
                margin-right: 0;
                margin-bottom: 2rem;
            }
            .section-header {
                -webkit-flex-wrap: wrap;
                -ms-flex-wrap: wrap;
                    flex-wrap: wrap;
                text-align: center;
            }
        }
    }
/*#endregion*/