/*#region 1. Grid*/
    .row {
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-flex-wrap: wrap;
            -ms-flex-wrap: wrap;
                flex-wrap: wrap;
        margin-left: -#{get(base, _gutter-md)};
        margin-right: -#{get(base, _gutter-md)};

        > * {
            position: relative;
            width: 100%;
            padding-right: #{get(base, _gutter-md)};
            padding-left: #{get(base, _gutter-md)};
        }
    }
    .gutter-xl {
        margin-left: -#{get(base, _gutter-xl)};
        margin-right: -#{get(base, _gutter-xl)};
        > * {
            padding-left: #{get(base, _gutter-xl)};
            padding-right: #{get(base, _gutter-xl)};
        }
    }
    .gutter-lg {
        margin-left: -#{get(base, _gutter-lg)};
        margin-right: -#{get(base, _gutter-lg)};
        > * {
            padding-left: #{get(base, _gutter-lg)};
            padding-right: #{get(base, _gutter-lg)};
        }
    }
    .gutter-sm {
        margin-left: -#{get(base, _gutter-sm)};
        margin-right: -#{get(base, _gutter-sm)};
        > * {
            padding-left: #{get(base, _gutter-sm)};
            padding-right: #{get(base, _gutter-sm)};
        }
    }
    .gutter-xs {
        margin-left: -#{get(base, _gutter-xs)};
        margin-right: -#{get(base, _gutter-xs)};
        > * {
            padding-left: #{get(base, _gutter-xs)};
            padding-right: #{get(base, _gutter-xs)};
        }
    }
    .gutter-no {
        margin-left: 0;
        margin-right: 0;
        > * {
            padding-left: 0;
            padding-right: 0;
        }
    }

    @include mq("xl", "max") {
        .gutter-lg {
            margin-left: -10px;
            margin-right: -10px;
            > * {
                padding-left: 10px;
                padding-right: 10px;
            }
        }
    }
    @include mq("lg", "max") {
        .gutter-lg {
            margin-left: -7.5px;
            margin-right: -7.5px;
            > * {
                padding-left: 7.5px;
                padding-right: 7.5px;
            }
        }
    }
    @include mq(md, 'max') {
        .gutter-xl {
            margin-left: -10px;
            margin-right: -10px;
            > * {
                padding-left: 10px;
                padding-right: 10px;
            }
        }
    }
    
    @for $i from 1 through 8 {
        .cols-#{$i} > * {
            max-width: #{ round( 100% / $i * 10000 ) / 10000 };
            -webkit-box-flex: 0 0 #{ round( 100% / $i * 10000 ) / 10000 };
            -webkit-flex: 0 0 #{ round( 100% / $i * 10000 ) / 10000 };
            -moz-box-flex: 0 0 #{ round( 100% / $i * 10000 ) / 10000 };
            -ms-flex: 0 0 #{ round( 100% / $i * 10000 ) / 10000 };
            flex: 0 0 #{ round( 100% / $i * 10000 ) / 10000 };
            margin-bottom: 4rem;
        }
    }

    @include mq("sm", "max") {
        .gutter-fluid {
            margin-left: -15px;
            margin-right: -15px;
            > * {
                padding-left: 15px;
                padding-right: 15px;
            }
        }
    }
    @include mq("xs") {
        @for $i from 1 through 8 {
            .cols-xs-#{$i} > * {
                max-width: #{ round( 100% / $i * 10000 ) / 10000 };
                -webkit-box-flex: 0 0 #{ round( 100% / $i * 10000 ) / 10000 };
                -webkit-flex: 0 0 #{ round( 100% / $i * 10000 ) / 10000 };
                -moz-box-flex: 0 0 #{ round( 100% / $i * 10000 ) / 10000 };
                -ms-flex: 0 0 #{ round( 100% / $i * 10000 ) / 10000 };
                flex: 0 0 #{ round( 100% / $i * 10000 ) / 10000 };
                margin-bottom: 4rem;
            }
        }
    }
    @include mq("sm") {
        @for $i from 1 through 8 {
            .cols-sm-#{$i} > * {
                max-width: #{ round( 100% / $i * 10000 ) / 10000 };
                -webkit-box-flex: 0 0 #{ round( 100% / $i * 10000 ) / 10000 };
                -webkit-flex: 0 0 #{ round( 100% / $i * 10000 ) / 10000 };
                -moz-box-flex: 0 0 #{ round( 100% / $i * 10000 ) / 10000 };
                -ms-flex: 0 0 #{ round( 100% / $i * 10000 ) / 10000 };
                flex: 0 0 #{ round( 100% / $i * 10000 ) / 10000 };
                margin-bottom: 4rem;
            }
        }
    }
    @include mq("md") {
        @for $i from 1 through 8 {
            .cols-md-#{$i} > * {
                max-width: #{ round( 100% / $i * 10000 ) / 10000 };
                -webkit-box-flex: 0 0 #{ round( 100% / $i * 10000 ) / 10000 };
                -webkit-flex: 0 0 #{ round( 100% / $i * 10000 ) / 10000 };
                -moz-box-flex: 0 0 #{ round( 100% / $i * 10000 ) / 10000 };
                -ms-flex: 0 0 #{ round( 100% / $i * 10000 ) / 10000 };
                flex: 0 0 #{ round( 100% / $i * 10000 ) / 10000 };
                margin-bottom: 4rem;
            }
        }
    }
    @include mq("lg") {
        @for $i from 1 through 8 {
            .cols-lg-#{$i} > * {
                max-width: #{ round( 100% / $i * 10000 ) / 10000 };
                -webkit-box-flex: 0 0 #{ round( 100% / $i * 10000 ) / 10000 };
                -webkit-flex: 0 0 #{ round( 100% / $i * 10000 ) / 10000 };
                -moz-box-flex: 0 0 #{ round( 100% / $i * 10000 ) / 10000 };
                -ms-flex: 0 0 #{ round( 100% / $i * 10000 ) / 10000 };
                flex: 0 0 #{ round( 100% / $i * 10000 ) / 10000 };
                margin-bottom: 4rem;
            }
        }
    }
    @include mq("xl") {
        @for $i from 1 through 12 {
            .cols-xl-#{$i} > * {
                max-width: #{ round( 100% / $i * 10000 ) / 10000 };
                -webkit-box-flex: 0 0 #{ round( 100% / $i * 10000 ) / 10000 };
                -webkit-flex: 0 0 #{ round( 100% / $i * 10000 ) / 10000 };
                -moz-box-flex: 0 0 #{ round( 100% / $i * 10000 ) / 10000 };
                -ms-flex: 0 0 #{ round( 100% / $i * 10000 ) / 10000 };
                flex: 0 0 #{ round( 100% / $i * 10000 ) / 10000 };
                margin-bottom: 4rem;
            }
        }
    }
    @for $i from 1 through 12 {
        .col-#{$i} {
            max-width: #{ round(100% / 12 * $i * 10000) / 10000 };
            -webkit-box-flex: 0 0 #{ round(100% / 12 * $i * 10000) / 10000 };
            -webkit-flex: 0 0 #{ round(100% / 12 * $i * 10000) / 10000 };
            -moz-box-flex: 0 0 #{ round(100% / 12 * $i * 10000) / 10000 };
            -ms-flex: 0 0 #{ round(100% / 12 * $i * 10000) / 10000 };
            flex: 0 0 #{ round(100% / 12 * $i * 10000) / 10000 };
        }
    }
    @include mq("xs") {
        @for $i from 1 through 12 {
            .col-xs-#{$i} {
                max-width: #{ round(100% / 12 * $i * 10000) / 10000 };
                -webkit-box-flex: 0 0 #{ round(100% / 12 * $i * 10000) / 10000 };
                -webkit-flex: 0 0 #{ round(100% / 12 * $i * 10000) / 10000 };
                -moz-box-flex: 0 0 #{ round(100% / 12 * $i * 10000) / 10000 };
                -ms-flex: 0 0 #{ round(100% / 12 * $i * 10000) / 10000 };
                flex: 0 0 #{ round(100% / 12 * $i * 10000) / 10000 };
            }
        }
    }
    @include mq("sm") {
        @for $i from 1 through 12 {
            .col-sm-#{$i} {
                max-width: #{ round(100% / 12 * $i * 10000) / 10000 };
                -webkit-box-flex: 0 0 #{ round(100% / 12 * $i * 10000) / 10000 };
                -webkit-flex: 0 0 #{ round(100% / 12 * $i * 10000) / 10000 };
                -moz-box-flex: 0 0 #{ round(100% / 12 * $i * 10000) / 10000 };
                -ms-flex: 0 0 #{ round(100% / 12 * $i * 10000) / 10000 };
                flex: 0 0 #{ round(100% / 12 * $i * 10000) / 10000 };
            }
        }
    }
    @include mq("md") {
        @for $i from 1 through 12 {
            .col-md-#{$i} {
                max-width: #{ round(100% / 12 * $i * 10000) / 10000 };
                -webkit-box-flex: 0 0 #{ round(100% / 12 * $i * 10000) / 10000 };
                -webkit-flex: 0 0 #{ round(100% / 12 * $i * 10000) / 10000 };
                -moz-box-flex: 0 0 #{ round(100% / 12 * $i * 10000) / 10000 };
                -ms-flex: 0 0 #{ round(100% / 12 * $i * 10000) / 10000 };
                flex: 0 0 #{ round(100% / 12 * $i * 10000) / 10000 };
            }
        }
    }
    @include mq("lg") {
        @for $i from 1 through 12 {
            .col-lg-#{$i} {
                max-width: #{ round(100% / 12 * $i * 10000) / 10000 };
                -webkit-box-flex: 0 0 #{ round(100% / 12 * $i * 10000) / 10000 };
                -webkit-flex: 0 0 #{ round(100% / 12 * $i * 10000) / 10000 };
                -moz-box-flex: 0 0 #{ round(100% / 12 * $i * 10000) / 10000 };
                -ms-flex: 0 0 #{ round(100% / 12 * $i * 10000) / 10000 };
                flex: 0 0 #{ round(100% / 12 * $i * 10000) / 10000 };
            }
        }
    }
    @include mq("xl") {
        @for $i from 1 through 12 {
            .col-xl-#{$i} {
                max-width: #{ round(100% / 12 * $i * 10000) / 10000 };
                -webkit-box-flex: 0 0 #{ round(100% / 12 * $i * 10000) / 10000 };
                -webkit-flex: 0 0 #{ round(100% / 12 * $i * 10000) / 10000 };
                -moz-box-flex: 0 0 #{ round(100% / 12 * $i * 10000) / 10000 };
                -ms-flex: 0 0 #{ round(100% / 12 * $i * 10000) / 10000 };
                flex: 0 0 #{ round(100% / 12 * $i * 10000) / 10000 };
            }
        }
    }
    @include mq("xl") {
        .col-xl-5col {
            position: relative;
            -webkit-box-flex: 0;
            -webkit-flex: 0 0 20%;
            -moz-box-flex: 0;
            -ms-flex: 0 0 20%;
            flex: 0 0 20%;
            max-width: 20%;
            padding-right: 10px;
            padding-left: 10px;
        }
        .col-xl-5col2 {
            position: relative;
            -webkit-box-flex: 0;
            -webkit-flex: 0 0 40%;
            -moz-box-flex: 0;
            -ms-flex: 0 0 40%;
            flex: 0 0 40%;
            max-width: 40%;
            padding-right: 10px;
            padding-left: 10px;
        }
        .col-xl-5col3 {
            position: relative;
            -webkit-box-flex: 0;
            -webkit-flex: 0 0 60%;
               -moz-box-flex: 0;
                -ms-flex: 0 0 60%;
                    flex: 0 0 60%;
            max-width: 60%;
            padding-right: 10px;
            padding-left: 10px;
        }
        .col-xl-5col4 {
            position: relative;
            -webkit-box-flex: 0;
            -webkit-flex: 0 0 80%;
               -moz-box-flex: 0;
                -ms-flex: 0 0 80%;
                    flex: 0 0 80%;
            max-width: 80%;
            padding-right: 10px;
            padding-left: 10px;
        }
    }
    @include mq("xxl") {
        .col-xxl-10 {
            -webkit-box-flex: 0;
            -webkit-flex: 0 0 83.3333%;
               -moz-box-flex: 0;
                -ms-flex: 0 0 83.3333%;
                    flex: 0 0 83.3333%;
            max-width: 83.3333%;
        }
        .col-xxl-2 {
            -webkit-box-flex: 0;
            -webkit-flex: 0 0 16.6666%;
               -moz-box-flex: 0;
                -ms-flex: 0 0 16.6666%;
                    flex: 0 0 16.6666%;
            max-width: 16.6666%;
        }
    }
/*#endregion*/

/*#region 2. Grid */
    // .grid {
    //     margin: -1rem;
    //     .grid-item {
    //         @include transform($args: translate3d(0,0,0));
    //         padding: 1rem;
    //     }
    //     &.gutter-sm {
    //         margin: -.5rem;
    //         .grid-item {
    //             padding: .5rem;
    //         }
    //     }
    //     &.gutter-no {
    //         margin: 0;
    //         .grid-item {
    //             padding: 0;
    //         }
    //     }
    //     &::after {
    //         content: "";
    //         display: block;
    //         clear: both;
    //     }
    //     &.grid-float {
    //         display: block !important;
    //         .grid-item {
    //             float: left;
    //         }
    //     }
    // }

/*#endregion*/