/* 1. Config */
@import 'config/variables';

/* 2. Mixins */
@import 'mixins/breakpoint';
@import 'mixins/core';
@import 'mixins/buttons';
@import 'mixins/mixins';

#documentation-page {

    .page-header {
        min-height: 50vh;
        background-size: cover;
        background-position: center center;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: -moz-box;
        display: flex;

        -webkit-box-align: center;
        -webkit-align-items: center;
        -moz-box-align: center;
        -ms-flex-align: center;
        align-items: center;

        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -moz-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        p {
            font-size: 2rem;
            color: rgba(255,255,255,0.5);
            text-align: center;
            text-transform: capitalize;
        }
        .widget-search {
            margin-left: auto;
            margin-right: auto;
            display: -webkit-box;
            display: -webkit-flex;
            display: -moz-box;
            display: -ms-flexbox;
            display: flex;
            max-width: 65rem;
            position: relative;
        }
        input.input-search {
            @include border-radius($val: 3rem);
            background-color: #fff;
            padding-left: 2rem;
            padding-right: 5.5rem;
            border-radius: 3rem;
            min-height: 5.5rem;
            color: #777;
        }
        
        .btn-search {
            background-color: transparent;
            border: none;
            text-align: center;
            position: absolute;
            top:0;
            right: 0;
            height: 100%;
            padding: 0;
            width: 5.5rem;
            i {
                font-size: 1.8rem;
                line-height: 1;
            }
        }
    }
    .page-title {
        text-align: center;
        color: #fff;
        text-transform: uppercase;
        font-size: 5rem;
        line-height: 1;
        margin-bottom: 0;
    }
    .page-content {
        min-height: 50vh;
    }

    .main-content {
        h5 {
            font-size: 1.8rem;
        }
        ul {
            list-style: none;
            padding-left: 0;
        }
        .icon-box {
            text-align: center;
            .icon-box-icon {
                display: inline-block;
                margin-bottom: 2rem;
            }
            .icon-box-title {
                margin-bottom: 1.5rem;
                font-size: 1.4rem;
                text-transform: capitalize;
            }
            p {
                font-size: 1.4rem;
                line-height: 1.5;
            }
            i {
                font-size: 5rem;
                font-weight: 600;
                color: #666;
            }
        }
        .table {
            margin-bottom: 3rem;

            th,
            td {
                border: 1px solid #eee;
                padding: .5rem 1rem;
                min-height: 3.3rem;
            }
            th {
                text-align: start;
                padding: 1rem;
            }
        }
        code,
        mark {
            border-radius: 4px;
            padding: 2px 5px;
            font-size: 1.2em;
            color: $primary-color;
            background-color: rgba(51, 102, 153, 0.06);
        }
        code + code {
            margin-left: 0em;
        }
        code {
            display: inline-block;
            margin-bottom: .5rem;
            margin-right: .5rem;
            > span:first-child {
                border-left: 5px solid #cc0001;
                position: absolute;
                top:0;
                left: 100%;
                color: #fff;
                background-color: #252525;
                padding: 2px 5px;
                display: block;
                z-index: 1;
                width: max-content;
                display: none;
            }
            &:hover {
                span {
                    display: block;
                }
            }
            &.more-info {
                position: relative;
                &:after {
                    position: absolute;
                    display:block;
                    content: "?";
                    top: 2px;
                    right: 2px;
                    font-size: 8px;
                    color: #cc0001;
                }
            }
        }
        mark {
            background: yellow;
            font-weight: 700;
        }
        pre {
            max-height: 30rem;
            padding: 1rem 2rem;
            margin-bottom: 2rem;
            border: 1px solid #e1e1e1;
            border-radius: 5px;
            background: #f5f7f9;
            font-size: 1.2em;
            overflow: auto;

            code,
            mark {
                border: 1px solid #e1e1e1;
                font-size: 1em;
            }
        }
        .title {
            border-bottom: 1px solid #eee;
            font-size: 2.6rem;
            margin-bottom: 3.5rem;
            padding-bottom: 10px;
            margin-top: 10px;
        }
        .search-count {
            display: block;
            position: absolute;
            top: 2rem;
            right: 2rem;
            width: 3rem;
            height: 3rem;
            border-radius: 50%;
            color: #fff;
            background: #2b579a;
            font-size: 2rem;
            text-align: center;
            vertical-align: middle;
            line-height: 3rem;
            box-shadow: 0 0 1rem #2b579a;
        }
        .ecsgroup-icons {
            color: #333;
            font-size: 1.6rem;
            line-height: 2.5;
            i,.icon-name {
                display: inline-block;
                vertical-align: middle;
            }
            i {
                margin-right: 0.5rem;
            }
        }
    }
    .sidebar-content {
        .widget-title {
            font-size: 1.6rem;
            line-height: 1.2;
            padding:  1.6rem 0;
        }
        .search-ul {
            a {
                display: block;
                padding: 1rem 0 1rem 0.2rem;
            }
            li.show {
                a {
                    color: $primary-color;
                    font-weight: bold;
                }
            }
        }
    }
    .document-content {
        a {
            color: #007bff;
            &:hover {
                color: #0056b3;
                text-decoration: underline;
            }
        }
    }
    .search-pane {
        border-top: 3px solid #e1e1e1;
        position: relative;
        margin-bottom: 5rem;
        &:first-child {
            border-top: 0;
        }
    }
    .search-result {
        padding: 0;
        margin: 0;
        border: 0;
        box-shadow: none;
        display: block;
    }
    .search-count {
        display: block;
        position: absolute;
        top: 2rem;
        right: 2rem;
        width: 3rem;
        height: 3rem;
        border-radius: 50%;
        color: #fff;
        background: #2b579a;
        font-size: 2rem;
        text-align: center;
        vertical-align: middle;
        line-height: 3rem;
        box-shadow: 0 0 1rem #2b579a;
    }
}

.btn-gradient {
    position: relative;
    padding: 1.072em 1.95em;
    overflow: hidden;
    border: 0;
    letter-spacing: 0;
    z-index: 1;
    &::before {
        content: '';
        display: block;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(if-ltr(-50%,50%), -50%);
        border-radius: 50%;
        width: 0;
        height: 0;
        background: linear-gradient(75deg, #c54fff 25%, #3f73fe 75%);
        opacity: .2;
        z-index: -1;
        transition: .4s;
    }

    &:hover,
    &:focus,
    &.active,
    &.grad-reverse {
        &::before {
            width: 150%;
            padding-top: 150%;
            opacity: 1;
        }
    }
    &.grad-reverse {
        &:hover,
        &.active,
        &:focus {
            &::before {
                width: 0;
                padding-top: 0;
            }
        }
    }
}
